<div class="row justify-content-md-center">
  <div class="col-3 mt-5">
　　<%= form_with model: [:admin,@genre] do |f| %>
    <div class="form text-center">
    <%= f.label :name, "ジャンルの編集" %>
    <%= f.text_field :name, placeholder: "病種をここに", class: 'form-control' %>
    </div>
    <div>
    <%= f.submit '変更を保存', class: "btn btn-success btn-block mt-2" %>
    </div>
    <% end %>
  </div>
</div>

class Public::FavoritesController < ApplicationController
  def create
    @post = Post.find(params[:post_id])
    @favorite = current_user.favorites.new(post_id: @post.id)
    @favorite.save
  end

  def destroy
    @post = Post.find(params[:post_id])
    @favorite = current_user.favorites.find_by(post_id: @post.id)
    @favorite.destroy
  end
end
